{% load image_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Image List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .image-container {
            margin-bottom: 10px;
        }
        .image-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>Event Image List</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Event Image</th>
                <th>Uploaded At</th>
            </tr>
        </thead>
        <tbody>
            
        {% for event in events_list %}
            <tr>
                <td>{{ image.id }}</td>
                <td>
                    {% if image.event %}
                    <img src=" {{ event.events_base64 }}" alt="Event Image" width="200">
                    {% else %}
                    No College Image
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p><a href="{% url 'events_upload' %}">Upload New Images</a></p>
</body>
</html>